<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Campgrounds</title>
        <!-- Using bootstrap v5 -->
        <link rel="stylesheet" href="/css/0bootstrap.css">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
        
    </head>

    <body>
        <%- include("./navbar.ejs") %>

        <main> 
            <%- include("./flash.ejs") %> 
            <%- body %>
        </main>
        
        <%- include("./footer.ejs") %> 
        <script src="/js/0jquery.js"></script>
        <script src="/js/0bootstrap.js"></script>
        <script src="/js/formValidation.js"></script>
        <script src="/js/flash.js"></script>
    </body>
</html>