<div class="container text-center">
    <% if(success.length){ %>    
        <div id="idAlert" class="alert alert-success alert-dismissible mt-4" role="alert">
            <%= success %> 
            <button id="idButton" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <% if(error.length){ %>    
        <div id="idAlert" class="alert alert-danger alert-dismissible mt-4" role="alert">
            <%= error %> 
            <button id="idButton" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
</div>
