<div class="container">
    <footer class="footer py-3 text-center">
        <small class="text-muted">&#169; Yelp-Camp | <a id="about" href="/about">About</a> | <a id="about" href="https://github.com/Ekansh12/yelpcamp">Github</a></small>
    </footer>
</div>