
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand">YelpCamp</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-5" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a id="camp" class="nav-link " href="/campgrounds">Campgrounds</a>
                </li>
                <li class="nav-item">
                    <a id="new" class="nav-link" href="/campgrounds/new">Add Campground</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <% if(currentUserInfo){ %> 
                    <li class="nav-item">
                        <a id="profile" class="nav-link" href="/profile/<%= currentUserInfo._id %>">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <% }else{ %> 
                    <li class="nav-item">
                        <a id="login" class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a id="signUp" class="nav-link" href="/signUp">Sign Up</a>
                    </li>
                <% } %> 
            </ul>
            
        </div>
    </div>
</nav>

<div id="nav-back"></div>