<%- layout("layouts/boilerplate.ejs") %>

<div class="card shadow mx-auto mt-5 col-sm-8 col-md-6">
    <div class="card-body">
        <p class="card-title fs-1 text-center">About YelpCamp</p>
        <div class="card-text mx-2">
            <p class="fs-3">What is YelpCamp?</p>
            <hr>
            <p><span class="fs-5 text-success">YelpCamp</span> is a website where users can view, create and review campgrounds.
                To get started, simply <a id="underlineRemove" href="/signUp">sign up</a>.</p>
            <p>This project was part of Colt Steele's web dev course on udemy. 
                This project was created using Node.js, Express, MongoDB and Bootstrap. Passport was used to handle authentication. 
                Mapbox was used to locate a campground.
            </p>
            <p class="fs-3">Features</p>
            <hr>
            <ul>
                <li>Users can create and remove campgrounds(which they own).</li>
                <li>Users can review campgrounds once and remove their review.</li>
                <li>User can't review his own campground.</li>
                <li>User profiles include information of the user.</li>
                <li>Added authentication and authorization.</li>
                <li>Added map feature to view location of a campground.</li>
                <li>Sort campgrounds on basis of price, date and reviews.</li>
            </ul>
        </div>
    </div>
</div>  
