<%- layout("layouts/boilerplate.ejs") %>

<div class="container text-center">
    <div id="big-display" class="m-5">
        <%= message %>
    </div>
    <div class="m-5">
        <a class="btn btn-dark btn-lg m-3" href="/" >Go Home</a>
        <a class="btn btn-dark btn-lg m-3" href="/campgrounds" >Go to Campgrounds Page</a>
    </div>
</div>