body{
    min-height: 80vh;
    background: #f3f1ec;

}

main{
    min-height: 80vh;
}

#underlineRemove{
    text-decoration: none;
}

#underlineRemove:hover{
    text-decoration: underline;
}

#gradient-bg{
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

#img-div{
    height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1546811740-23e671faf31c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    
    background-size: cover;
    background-position: bottom;
    text-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.4);
}

#nav-back{
    height: 6vh;
}

#big-display{
    font-size: 3rem;
}

#about{
    color: inherit;
    text-decoration: none;
}

#about:hover{
    text-decoration: underline;
}

.locationNotFound{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFEFBA;

}


.mapboxgl-ctrl-logo, .mapboxgl-ctrl-compass{
    display: none !important; 
}
